<%= form.file_field :image %>
<%= form.text_area :text, placeholder: "text", rows: "10" %>
<div class = "kda">
  <%= form.number_field :kill, placeholder: "k" %>
  <%= form.number_field :death, placeholder: "d" %>
  <%= form.number_field :assist, placeholder: "a" %>
</div>
<%= form.submit "SEND" %>